* {
    color: blue;
}
.row {
	padding: 0 1rem;
	margin: 1rem 0;
}
.c {
    display: grid;
    grid-column-gap: .75rem;
    grid-row-gap: .75rem;
    &.lg-1 {
        grid-template-columns: repeat(1, 1fr);
    }
    &.lg-2 {
        grid-template-columns: repeat(2, 1fr);
    }
    &.lg-3 {
        grid-template-columns: repeat(3, 1fr);
    }
    &.lg-4 {
        grid-template-columns: repeat(4, 1fr);
    }
    &.lg-5 {
        grid-template-columns: repeat(5, 1fr);
    }
    &.lg-6 {
        grid-template-columns: repeat(6, 1fr);
    }
    &.lg-7 {
        grid-template-columns: repeat(7, 1fr);
    }
    &.lg-8 {
        grid-template-columns: repeat(8, 1fr);
    }
    &.lg-9 {
        grid-template-columns: repeat(9, 1fr);
    }
    &.lg-10 {
        grid-template-columns: repeat(10, 1fr);
    }
    &.lg-11 {
        grid-template-columns: repeat(11, 1fr);
    }
    &.lg-12 {
        grid-template-columns: repeat(12, 1fr);
    }
}

@media handheld, only screen and (max-width: 992px) {
	.cxs-1 {
		grid-template-columns: repeat(1, 1fr);
	}
}